<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.color.distancedays.sharelib">

  <!-- 在非混淆状态下无存储权限,qq可以正常分享图片,但是在混淆状态下无存储权限时在ShareListener.onError 会抛出是否有存储权限异常,官方说明“如果需要使用QQ纯图分享或避免其它平台纯图分享的时候图片不被压缩，可以增加以下权限：” -->
  <!-- 允许程序读写外部存储,如SD卡上写文件 6.0以及后续版本需要动态授权 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
    android:supportsRtl="true">

    <!-- Android6.0中取消对 Apache HTTP （HttpClient）的支持，Android9.0开始默认已经移除该库。
    由于qq分享中还在使用该库，所以需添加以下内容，否则出现
     ClassNotFoundException: Didn't find class "org.apache.http.conn.scheme.SchemeRegistry"-->
    <uses-library
        android:name="org.apache.http.legacy"
        android:required="false"/>

    <!--分享 START -->
    <!-- 微信 分享 -->
    <activity
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="true"
      android:name="${applicationId}.wxapi.WXEntryActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <!-- QQ 分享 -->
    <activity
      android:launchMode="singleTask"
      android:name="com.tencent.tauth.AuthActivity"
      android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="${qqappid}"/>
      </intent-filter>
    </activity>

    <activity
      android:configChanges="orientation|keyboardHidden"
      android:name="com.tencent.connect.common.AssistActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      tools:replace="android:screenOrientation"/>
    <!--分享 END -->

    <activity
      android:name="com.color.distancedays.sharelib.channel.qq.QQChannelActivity"
      android:theme="@style/ShareActivityTheme"/>
    <activity
      android:name="com.color.distancedays.sharelib.channel.wx.WXChannelActivity"
      android:theme="@style/ShareActivityTheme"/>
  </application>
</manifest>
